.create_playlist {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    height: 50px;

    .textbar {
        width: 70%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 0 20px;
        font-size: 95%;
    }

    .submit {
        width: 20%;
        height: 100%;
        border: solid 2px $color-3;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-size: 95%;
        font-family: $fonts-2;
        font-size: x-large;
        color: $color-2;
        transition: 0.4s;
        background-color: #9c6868;
        opacity: 0.6;
    }
    .submit:hover {
        opacity: 1;
    }
  }