.music {
    position: relative;
    margin: 8px;
    border : solid 5px $color-3;
    padding: 16px 0px;
    border-radius: 18px 18px 18px 18px;
    width: 200px;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.19);
    background-color: #f0f0f0;
    color: $color-1;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-overflow: ellipsis;

    .music_header {
        .index {
            position: absolute;
            top: 10px;
            left: 5px;
            font-family: $fonts-2;
            color: $color-4;
        }

        img {
            width : 150px;
        }

        .title {
            font-size: 18px;
        }

        a {
            font-size: 14px;
            padding: 16px 0px;
        }
    }

    .btn_container {       

        .remove_button {
            border-radius: 6px 6px 6px 6px;
            transition: 0.4s;
            width: 40px;
            height: 20px;
            margin: 5px;
            background-color: $color-4;
            border: solid 2px $color-3;
            color: white;  
            cursor: pointer;
        }
        .remove_button:hover {
            background-color: $color-3;
        }

        .play_button {
            border-radius: 6px 6px 6px 6px;
            transition: 0.4s;
            width: 40px;
            height: 20px;
            margin: 5px;
            background-color: $color-4;
            border: solid 2px $color-5;
            color: white;
            cursor: pointer;         
        }
        .play_button:hover {
            background-color: $color-5;
        }
    }  
}
.music:hover {
    background-color: $color-2;
}

.selected_music {
    position: relative;
    margin: 8px;
    border : solid 5px $color-5;
    padding: 16px 0px;
    border-radius: 18px 18px 18px 18px;
    width: 200px;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.19);
    background-color: #d1c8ff;
    color: $color-1;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-overflow: ellipsis;

    .music_header {
        .index {
            position: absolute;
            top: 10px;
            left: 5px;
            font-family: $fonts-2;
            color: $color-4;
        }

        img {
            width : 150px;
        }

        .title {
            font-size: 18px;
        }

        a {
            font-size: 14px;
            padding: 16px 0px;
            color: $color-5;
        }
    }

    .btn_container {           
        .remove_button {
            border-radius: 6px 6px 6px 6px;
            transition: 0.4s;
            width: 40px;
            height: 20px;
            margin: 5px;
            background-color: $color-4;
            border: solid 2px $color-3;
            color: white;
            cursor: pointer;
        }
        
        .remove_button:hover {
            background-color: $color-3;
        }

        .play_button {
            border-radius: 6px 6px 6px 6px;
            transition: 0.4s;
            width: 40px;
            height: 20px;
            margin: 5px;
            background-color: $color-5;
            border: solid 2px $color-5;
            color: white;
            cursor: pointer;            
        }
        .play_button:hover {
            background-color: $color-5;
        }
    }   
}