.playlist_element {
    margin: 5px auto;
    border : solid 5px $color-3;
    padding: 10px 4px;
    border-radius: 18px 18px 18px 18px;
    width: 100%;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.19);
    background-color: #f0f0f0;
    color: $color-1;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-family: $fonts-2;
    font-size: medium;

    .index {
        border-radius: 6px 6px 6px 6px;
        transition: 0.4s;
        flex: 2;
        background-color: $color-4;
        border: solid 2px $color-6;
        color: white;
        font-family: $fonts-2;
        font-size: medium;
        cursor: pointer;      
    }
    .index:hover {
        background-color: $color-6;
    }

    .index_selected {
        border-radius: 6px 6px 6px 6px;
        transition: 0.4s;
        flex: 2;
        background-color: $color-6;
        border: solid 2px $color-6;
        color: white;
        font-family: $fonts-2;
        font-size: medium;
        cursor: pointer;       
    }
    .index_selected:hover {
        background-color: #448311;
    }

    .playlist_name {
        flex: 4;
    }

    textarea {
        resize: none;
        margin: 0 2px;
        border-radius: 10px;
        text-align: center;
    }

    .edit_button {
        border-radius: 6px 6px 6px 6px;
        transition: 0.4s;
        flex: 2;
        background-color: $color-4;
        border: solid 2px $color-5;
        color: white;
        cursor: pointer;       
    }
    .edit_button:hover {
        background-color: $color-5;
    }
}
.playlist_element:hover {
    background-color: $color-2;
}
