.playlist_menu {
    flex: 2;
    order: 1;
    background-color: $color-4;
    color: $color-2;
    border-radius: 27px 27px 27px 27px;
    box-shadow: 1px 0px 5px 4px rgba(0, 0, 0, 0.19);
    border: 9px solid $color-3;
    padding: 10px;
    margin: 5px auto;

    .big_title {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline;
        align-content: center;

        #logo {
            width: 20%;
        }
    }
}