.remove_button {
    flex: 2;
    border-radius: 6px 6px 6px 6px;
    transition: 0.4s;
    background-color: $color-4;
    border: solid 2px $color-3;
    color: white;
    cursor: pointer;    
}
.remove_button:hover {
    background-color: $color-3;
}