.save_button_saved {
    position: relative;
    left: 5%;
    border-radius: 6px 6px 6px 6px;
    transition: 0.4s;
    width: 100px;
    height: 40px;
    margin: 5px;
    background: $color-2;
    background-color: $color-4;
    border: solid 2px $color-6;
    color: white;
    font-family: $fonts-2;
    font-size: medium;
    cursor: pointer;
} 
.save_button_saved:hover {
    background-color: $color-6;
}

.save_button {
    position: relative;
    left: 5%;
    border-radius: 6px 6px 6px 6px;
    transition: 0.4s;
    width: 140px;
    height: 40px;
    margin: 5px;
    background: $color-2;
    background-color: $color-7;
    border: solid 2px $color-8;
    color: white;
    font-family: $fonts-2;
    font-size: medium;
    cursor: pointer;
} 
.save_button:hover {
    background-color: $color-6;
}