@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

$fonts-1: "Noto Sans JP", sans-serif;
$fonts-2 : 'Ubuntu', sans-serif;

$color-1: #242424;
$color-2: #ffdcdc;
$color-3: #ff0e0e;
$color-4: #525252;
$color-5: #651deb;
$color-6: #16a339;
$color-7: #573d32;
$color-8: #be6919;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0.4rem auto;
  background-color: $color-1;
  color: $color-2;
  size: 1rem;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}